<% content_for(:app_title, @app_title) %>
<% content_for(:current_app_title, @current_app_title) %>

<% content_for :content do %>
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Title:</strong>
    <%= @todo.title %>
  </p>
  <p>
    <strong>Notes:</strong>
    <%= @todo.notes %>
  </p>
  <p>
    <strong>Deadline:</strong>
    <%= @todo.deadline %>
  </p>
  <p>
    <strong>Time:</strong>
    <%= @todo.time %>
  </p>
  <%= link_to 'Edit', edit_todo_path(@todo) %> |
  <%= link_to 'Back', todos_path %>
<% end %>